{% extends 'calculatorApp/base.html' %}

{% block title %}
    Biseccion
{% endblock %}

{% block navbar %}
    {% include 'calculatorApp/navBar.html' %} 
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="card" style="margin: 2em;">
            <form style="margin: 2em;">
                <div class="mb-3">
                    <label for="funcion" class="form-label">Función a graficar</label>
                    <input type="text" class="form-control" id="funcion" required>
                </div>
                <div class="mb-3">
                    <label for="inicioInt" class="form-label">Inicio del intervalo</label>
                    <input type="number" class="form-control" id="inicioInt" required>
                </div>
                <div class="mb-3">
                    <label for="finInt" class="form-label">Fin del intervalo</label>
                    <input type="number" class="form-control" id="finInt" required>
                </div>
                <div class="mb-3">
                    <label for="tolerancia" class="form-label">Tolerancia</label>
                    <input type="text" class="form-control" id="tolerancia" required>
                </div>
                <div class="mb-3">
                    <label for="tipoError" class="form-label">Tipo de error</label>
                    <input type="number" class="form-control" id="tipoError" aria-describedby="info" required>
                    <div id="info" class="form-text">Recuerde que 0 es para decimales correctos y 1 para cifras significativas</div>
                </div>
                <div class="mb-3">
                    <label for="niter" class="form-label">Cantidad máxima de iteraciones</label>
                    <input type="number" class="form-control" id="niter" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="card" style="margin:2em;">
            <h2 style="margin:0.5em;">Gráfica</h2>
            <div class="card" style="height: 60%; width: 60%; margin:1em;">
                <!--<img src="../../../grafica_biseccion.png">-->
            </div>
            <h2 style="margin:0.5em;">Tabla de iteraciones</h2>
            <div class="card" style="margin:1em;">
                {% if title %}
                    <table class=" table table-bordered text-center">
                        <thead>
                            <tr>
                                {% for i in title %}
                                    <th scope="col">{{i}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for info in tablaIter %}
                                <tr>
                                    {% for d in info %}
                                    <td>{{d}}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}