{% extends 'calculatorApp/bases/base.html' %}

{% block title %}
    Select
{% endblock %}

{% block content %}
<h2 id="nonLinear"><i class="bi bi-x-square" style="margin-left: 1em;"></i> Solución numérica de ecuaciones no lineales</h2>
<div style="display: flex; flex-wrap: wrap; justify-content: space-around; gap: 1em; margin: 1em;">
    <div #id="biseccion" class="card" style="width: 18rem;">
        <div class="card-body text-center">
            <a class="nav-link active" href="biseccion"><h5 class="card-title">Método de bisección</h5></a>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">xn=?</h6>
            <p class="card-text">--descripción--</p>
        </div>
    </div>
    <div #id="regla_falsa" class="card" style="width: 18rem;">
        <div class="card-body text-center">
            <a class="nav-link active" href="regla_falsa.html"><h5 class="card-title">Método de regla falsa</h5></a>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">xn=?</h6>
            <p class="card-text">--descripción--</p>
        </div>
    </div>
    <div #id="punto_fijo" class="card" style="width: 18rem;">
        <div class="card-body text-center">
            <a class="nav-link active" href="{% url 'calculatorApp:puntoFijo' %}"><h5 class="card-title">Método de punto fijo</h5></a>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">xn=?</h6>
            <p class="card-text">--descripción--</p>
        </div>
    </div>
    <div #id="newton" class="card" style="width: 18rem;">
        <div class="card-body text-center">
            <a class="nav-link active" href="newtonRaph"><h5 class="card-title">Método de Newton-Raphson</h5></a>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">xn=?</h6>
            <p class="card-text">--descripción--</p>
        </div>
    </div>
    <div #id="secante" class="card" style="width: 18rem;">
        <div class="card-body text-center">
            <a class="nav-link active" href="secante"><h5 class="card-title">Método de secante</h5></a>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">xn=?</h6>
            <p class="card-text">--descripción--</p>
        </div>
    </div>
    <div #id="newton_multiples_1" class="card" style="width: 18rem;">
        <div class="card-body text-center">
            <a class="nav-link active" href="newton_multiples_1.html"><h5 class="card-title">Método de Newton múltiples 1</h5></a>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">xn=?</h6>
            <p class="card-text">--descripción--</p>
        </div>
    </div>
    <div #id="newton_multiples_2" class="card" style="width: 18rem;">
        <div class="card-body text-center">
            <a class="nav-link active" href="newton_multiples_2.html"><h5 class="card-title">Método de Newton múltiples 2</h5></a>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">xn=?</h6>
            <p class="card-text">--descripción--</p>
        </div>
    </div>
</div>

<h2><i class="bi bi-dice-4" style="margin-left: 1em;"></i> Solución numérica de sistemas de ecuaciones</h2>
<div style="display: flex; flex-wrap: wrap; justify-content: space-around; gap: 1em; margin: 1em;">
    <div #id="gauss-seid" class="card" style="width: 18rem;">
        <div class="card-body text-center">
            <a class="nav-link active" href="goMatrix/0"><h5 class="card-title">Método de Gauss-Seidel</h5></a>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">xn=?</h6>
            <p class="card-text">--descripción--</p>
        </div>
    </div>
    <div #id="jacobi" class="card" style="width: 18rem;">
        <div class="card-body text-center">
            <a class="nav-link active" href="goMatrix/1"><h5 class="card-title">Método de Jacobi</h5></a>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">xn=?</h6>
            <p class="card-text">--descripción--</p>
        </div>
    </div>
    <div #id="SOR" class="card" style="width: 18rem;">
        <div class="card-body text-center">
            <a class="nav-link active" href="goMatrix/2"><h5 class="card-title">Método de SOR</h5></a>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">xn=?</h6>
            <p class="card-text">--descripción--</p>
        </div>
    </div>
</div>

<h2><i class="bi bi-graph-up" style="margin-left: 1em;"></i> Interpolación</h2>
<div style="display: flex; flex-wrap: wrap; justify-content: space-around; gap: 1em; margin: 1em;">
    <div #id="vander" class="card" style="width: 18rem;">
        <div class="card-body text-center">
            <a class="nav-link active" href="gauss.html"><h5 class="card-title">Método de Vandermonte</h5></a>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">xn=?</h6>
            <p class="card-text">--descripción--</p>
        </div>
    </div>
    <div #id="newtonInt" class="card" style="width: 18rem;">
        <div class="card-body text-center">
            <a class="nav-link active" href="factorizacion_LU.html"><h5 class="card-title">Método de Newton</h5></a>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">xn=?</h6>
            <p class="card-text">--descripción--</p>
        </div>
    </div>
    <div #id="lagrange" class="card" style="width: 18rem;">
        <div class="card-body text-center">
            <a class="nav-link active" href="factorizacion_LU.html"><h5 class="card-title">Método de Lagrange</h5></a>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">xn=?</h6>
            <p class="card-text">--descripción--</p>
        </div>
    </div>
</div>
{% endblock %}