<nav class="navbar navbar-expand-md bg-light">
    <div class="container-fluid">
        <!-- home -->
        <a class="navbar-brand mb-1" href="{% url 'calculatorApp:selectionPage' %}">NuMe-Calc</a>
        <!-- botón por si la pantalla es muy pequeña -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="bi bi-list fs-1"></i></span>
        </button>
        <div class="collapse navbar-collapse" style="flex-grow: 0;" id="navbarTogglerDemo01">
            <!-- inicio del menú -->
            <!-- Ecuaciones No Lineales -->
            <ul class="navbar-nav me-2 mb-2 mb-lg-0">
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Ecuaciones NL
                        </a>
                      
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'calculatorApp:biseccion' %}">Método de bisección</a></li>
                            <li><a class="dropdown-item" href="{% url 'calculatorApp:reglaFalsa' %}">Método de regla falsa</a></li>
                            <li><a class="dropdown-item" href="{% url 'calculatorApp:puntoFijo' %}">Método de punto fijo</a></li>
                            <li><a class="dropdown-item" href="{% url 'calculatorApp:newtonRaph' %}">Método de Newton-Raphson</a></li>
                            <li><a class="dropdown-item" href="{% url 'calculatorApp:secante' %}">Método de secante</a></li>
                            <li><a class="dropdown-item" href="{% url 'calculatorApp:newtonRaph1' %}">Método de Newton múltiples 1</a></li>
                            <li><a class="dropdown-item" href="{% url 'calculatorApp:newtonRaph2' %}">Método de Newton múltiples 2</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!-- Sistemas de Ecuaciones -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Sistemas de Ecuaciones
                        </a>
                      
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'calculatorApp:goMatrix' 0 %}">Método de Jacobi</a></li>
                            <li><a class="dropdown-item" href="{% url 'calculatorApp:goMatrix' 1 %}">Método de Gauss-Seidel</a></li>
                            <li><a class="dropdown-item" href="{% url 'calculatorApp:goMatrix' 2 %}">Método de SOR</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!-- Interpolación -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Interpolación
                        </a>
                      
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'calculatorApp:vandermonde' %}">Método de Vandermonde</a></li>
                            <li><a class="dropdown-item" href="{% url 'calculatorApp:newtonInter' %}">Método de Newton</a></li>
                            <li><a class="dropdown-item" href="{% url 'calculatorApp:splineLineal'%}">Spline Lineal</a></li>
                            <li><a class="dropdown-item" href="{% url 'calculatorApp:splineCubico'%}">Spline Cúbico</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>